<h2>Ajouter un nouveau Cocktail</h2>

<%= bootstrap_form_for(@cocktail, html: { multipart: true }) do |f| %>

  <%= f.text_field :name %>
  <p>

    <%= f.file_field :picture %>
  </p>
  <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>
